* {
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.75em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #414040;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body {
  margin: 0;
}
h1 {
  width: 50%;
  margin-bottom: 10px;
  color: #939393;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}
h1,
h1 span,
h2 span {
  line-height: 1;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
span {
  color: #950bb1bb;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
li {
  display: inline-block;
  padding-right: 30px;
}
li a {
  width: 100%;
  display: inline-block;
  -webkit-transition: color 0.4ms;
  transition: color 0.4ms;
}
li a:hover {
  color: #cc58e9;
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
}
ul p {
  font-weight: 600;
}
ul {
  padding: 0;
  font-size: 14px;
}
hr {
  border: none;
  border-top: 1px solid #c9c9c9;
}
div {
  vertical-align: middle;
}
footer ul {
  margin-bottom: 50px;
}
footer,
section,
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-left {
  background: linear-gradient(#cc58e9, #ebe5ee);;
  width: 30%;
  padding: 35px 40px;
  text-align: right;
  text-transform: uppercase;
}
.block-right {
  width: 70%;
  padding-left: 40px;
  padding-right: 50px;
}
.article {
  padding: 35px 40px;
  background-color: #fcfcfc;
}
.grey-clr {
  background-color: #f8f8f8;
}
.light-grey-clr {
  background-color: #fcfcfc;
}
.number {
  color: #cc58e9;
  margin-right: 20px;
  font-weight: 600;
}
.container-space-between {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-grey {
  color: #727272;
  font-weight: 600;
  text-transform: uppercase;
}
.expertise-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.name {
  width: 50%;
  margin-bottom: 5px;
  margin-top: 50px;
  color: #939393;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: none;
}
.prof {
  width: 50%;
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.media-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  margin-bottom: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  max-height: 180px;
  overflow: hidden;
}
img.photo {
  width: 100%;
  max-width: 180px;
  border-radius: 50%;
}
footer .block-right {
  padding-top: 25px;
  padding-bottom: 75px;
}
.social-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.social-icons i {
  font-size: 26px;
  color: #939393;
}
.in,
.git,
.instagram,
.telegram {
  padding-right: 3%;
  position: relative;
  -webkit-animation: moving-vertically 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
          animation: moving-vertically 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
.in:hover,
.instagram:hover,
.git:hover,
.telegram:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.in:hover,
.git:hover,
.instagram:hover,
.telegram:hover {
  opacity: 0.7;
}

footer .rs-logo {
  border-radius: 0%;
}

@media (max-width: 750px) {
  .container-space-between {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
@media (max-width: 650px) {
  footer,
  section,
  header {
    display: block;
  }
  .block-left,
  .block-right {
    width: 100%;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    text-align: left;
    padding: 15px 15px;
  }
  .block-right h1 {
    margin: 40px 0 5px;
    text-align: center;
  }
  .prof {
    text-align: center;
  }
  .name {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .social-icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .media-identity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@-webkit-keyframes moving-vertically {
  0%,
  100% {
    top: 0;
    left: 0;
  }
  25% {
    top: 20px;
    left: 0;
  }
  50% {
    top: 40px;
    left: 0;
  }
  75% {
    top: 60px;
    left: 0;
  }
}
@keyframes moving-vertically {
  0%,
  100% {
    top: 0;
    left: 0;
  }
  25% {
    top: 20px;
    left: 0;
  }
  50% {
    top: 40px;
    left: 0;
  }
  75% {
    top: 60px;
    left: 0;
  }
}
/*# sourceMappingURL=style2Animation.css.map */